:root {
    --blue: #34B7F1;
    --white: #ffffff;

    --fsize: calc(100vw/80);
    --vgap: calc(100vw/200)
}

.contac_menu {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    gap: calc(var(--fsize)*1);
    overflow: auto;
    scrollbar-width: none;
    border: calc(var(--fsize)*0.1) solid #000000;



}

.contact_bar {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--fsize)*0.25);




}

.contact {

    display: flex;
    height: calc(var(--fsize)*3);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: calc(var(--fsize)*0.1) solid #000000;
    padding: 0 calc(var(--fsize)*0.25);

    

}

.contact>img {
    height: calc(var(--fsize)*2.6);
    width: calc(var(--fsize)*2.6);
    border-radius: calc(var(--fsize)*2.6);
}

.contact>span {
    color: lab(100% 0.01 -0.01);
    font-size: var(--fsize);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #000000;
    font-weight: 9000;

}

.is_online {
    font-size: 85%;
    color: rgb(0, 255, 0);
    text-align: center;
    font-weight: 9000;
}

.search_users {
    margin-top:calc(var(--fsize)*0.1) ;
background-color: #ffffff;
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: calc(var(--fsize)*3);
}

.search_users>input {
 width: calc(100% - var(--fsize)*0.4);
    height: 100%;
border: calc(var(--fsize)*0.1) solid #000000;;
    font-size: calc(var(--fsize)*0.85);
    padding: calc(var(--fsize)*0.5);
    background-color: #ffffff;
    color: #000000;
}


.search_users>input:focus {
    outline: none;
    border: calc(var(--fsize)*0.2) solid #25D366;

}

.genre {
    width: calc(100% - var(--fsize)*0.4);
    display: flex;
    align-items: center;
    height: calc(var(--fsize)*3);
    gap: calc(var(--fsize)*0.5);
    border: calc(var(--fsize)*0.1) solid #000000;
    padding: calc(var(--fsize)*0.5);
    background-color: rgb(78, 48, 48);

}

.genre>span {
    background-color: #25D366;
    font-size: calc(var(--fsize)*0.85);
    padding: calc(var(--fsize)*0.3);
    border-radius: calc(var(--fsize)*0.9);

}