

:root {
    --blue: #34B7F1;
    --white: #ffffff;

    --fsize: calc(100vw/80);
    --vgap: calc(100vw/200)
}

.chat_board {
  display: flex;
  position: relative;
}

.call_dispalyer {
  position: absolute;
  left: 35vw;
}