@import url('https://unpkg.com/@csstools/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Lora', serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}



.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: relative;
}

.nav_bar {
    height: 5vw;
    width: 100vw;
    background-color: #838996;

}

.left_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.right_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem
}

.ham_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.ham_menu>svg {
    height: 3vw;
    width: 3vw;
}


.logo {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000000;
    background-color: black;
    color: white;
    gap: 3px;
    padding: 3px 5px;
    border-radius: 9px;
}

.logo>svg {
    height: 4.5vw;
    width:4.5vw;
    border-radius: 4.5vw;
}

.logo span {
    text-align: center;
}

.login_logout>a {
    text-decoration: none;
    color: black;
    background-color: #fff6ec;
    padding: 4px 8px;
    border-radius: 15px;
}

.notfication_bell svg {

       height: 3vw;
    width: 3vw;
    background-color: black;
    fill: red;
    padding: 4px;
    border-radius: 5px;
}

.not_notfication_bell svg {

     height: 3vw;
    width: 3vw;
    background-color: black;
    fill: white;
    padding: 4px;
    border-radius: 5px;
}


.notfication_bell {
      height: 3vw;
    width: 3vw;
    cursor: pointer;
    position: relative;
}

.not_notfication_bell {
      height: 3vw;
    width: 3vw;
    cursor: pointer;
    position: relative;
}

.account {
     height: 3vw;
    width: 3vw;
    cursor: pointer;
}

.account svg {
     height: 3vw;
    width: 3vw;;
    background-color: black;
     fill: white;
    padding: 4px;
    border-radius: 5px;
}

.Chat_Message {
      height: 3vw;
    width: 3vw;;
    cursor: pointer;
}

.Chat_Message svg {
       height: 3vw;
    width: 3vw;
    background-color: black;
     fill: white;
    padding: 4px;
    border-radius: 5px;
}

.sidebar {
    width: 22.5vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
}

.ham_menu_side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham_menu_side>svg {
    height: 3vw;
    width: 3vw;
    background-color: #838996;
    margin-left: 0.5rem;
    border-radius: 7px;
}

.side_top {
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #838996;

}

.side_con {
    height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 8px;
}

.side_con>div {
    display: flex;
    align-items: center;
    color: white;
    background-color: #838996;
    padding: 4px;
    cursor: pointer;


}

.side_logo {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000000;
    background-color: #838996;
    color: white;
    gap: 3px;
    padding: 3px 5px;
    border-radius: 9px;
    margin-right: 0.5rem;
}

.side_logo>svg {
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 4.5vw;
}

.side_logo span {
    text-align: center;
}

.notf_dot {
    height: 13px;
    width: 13px;
    background-color: red;
    position: absolute;
    right: -9px;
    top: -9px;
    border-radius: 13px;
}