@import url('https://unpkg.com/@csstools/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Lora', serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.video_call {
  width: 75vw;
  height: 100vh;
  background-color: rgb(62, 142, 97);
  display: flex;
  align-items: center;
}


.receiver {
  width: 50%;
  height: 100%;
  background-color: cadetblue;
    display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.receiver > video {
  width: 95%;
  height: 95%;
 
}
.receiver > button {
position: absolute;
 
}
.sender > video {
  width: 95%;
  height: 95%;
 
}

.sender {
  width: 50%;
  height: 100%;
  background-color: rgb(204, 239, 124);
      display: flex;
  align-items: center;
  justify-content: center;

}