.call_display{
    width:55vw;
    height:calc(1vw * 5);
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.5vw;
    border-radius: 7vw;
}
.call_accept{
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 2vw;
    
}
.call_reject{
    width: 4vw;
    height: 4vw;
    background-color: red;
      display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
}

.call_display svg {
    height: 2vw;
    width: 2vw;
}