
:root {
  --blue: #34B7F1;
  --white: #ffffff;


  --fsize: calc(100vw/80);
  --vgap: calc(100vw/200)
}

.sscon {
  width: 45vw;
  height: calc((var(--fsize) * 30) - var(--fsize) * 25/7.25);
   display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #000000;
  overflow:scroll;
  scrollbar-width: none;
  gap: calc(var(--fsize) * 0.3); 
  border:  calc(var(--fsize) * 0.1) solid  #34B7F1;
  padding: calc(var(--fsize) * 0.5) 0;



}

.search_contact {
  width: 45vw;
  height: calc(var(--fsize) * 30);
  background-color: #000000;
  position: absolute;
  left: 27.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
   border:  calc(var(--fsize) * 0.1) solid  #34B7F1;
}

.serch_cont {
 
  width: 80%;
  height: calc(var(--fsize) * 3);
  background-color: #000000;
  color: white;
  border:  calc(var(--fsize) * 0.1) solid #db4d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--fsize) * 1.25);
  font-size: calc(var(--fsize) * 1);



}

.serch_cont>img {
   height: 90%;
   border-radius:calc(var(--fsize) * 2.7);
    width: auto; 

}

.serhead {
  width: 100%;
  height: calc(var(--fsize) * 25/7.25);
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.serhead>span {
   border:  calc(var(--fsize) * 0.1) solid   rgb(101, 181, 95);
  font-size: calc(var(--fsize) * 1.25);
  padding: 0 calc(var(--fsize) * 1.25);
  border-radius:calc(var(--fsize) * 1) ;
  color: white;
}