

:root {
    --blue: #34B7F1;
    --white: #ffffff;

    --fsize: calc(100vw/80);
    --vgap: calc(100vw/200)
}
.message_board_none {
    width: 75vw;
    height: 100vh;
    background-color: rgb(78, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.message_board_none > svg{
    width: 20vw;
    height: 20vw;
}


.message_board {
    width: 75vw;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

     
}

.search_users {
    width: 100%;
    height: 8%z;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_users>input {
    height: 80%;
    width: 90%;
}

.chat_messages {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    overflow: auto;
    overflow: auto;
    scrollbar-width: none;
    
  
   
}

.Write_message {
    margin-top: calc(var(--fsize)*3.25);
    height: calc(var(--fsize)*3);
    width: 99%;
    display: flex;
    border-radius: calc(var(--fsize)*3);
    justify-content: center;
    align-items: center;
    gap: calc(var(--fsize)*0.2);
    
    
}

.Write_message>input {
    height: calc(var(--fsize)*2.5);
    border: none;
    width: 70%;
    border-radius: calc(var(--fsize)*2.5) 0 0 calc(var(--fsize)*2.5);
    background-color: rgb(0, 0, 0,0.5);;
    color: rgb(255, 255, 255);
    padding: 0 calc(var(--fsize)*1);
    font-size:calc(var(--fsize)*1);
    font-weight: 9000;
       
    
}

.Write_message>input:focus {
    outline: none;
}

.Write_message>button {

    height: calc(var(--fsize)*2.5);
    width: calc(var(--fsize)*4);
    background-color : #000000;
    color: white;
    border: none;
    border-radius: 0 calc(var(--fsize)*2.5) calc(var(--fsize)*2.5) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:calc(var(--fsize)*1);
    font-weight: 1200;


}

.chat_messages {
    padding: calc(var(--fsize)*0.5);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.send_message_incomming {
    width: 100%;
    display: flex;
    justify-content: left;

}


.send_message_outgoing {

    width: 100%;
    display: flex;
    justify-content: right;
}




.send_message_incomming>div {
    background-color: #db4d4dd0;
    color: white;
    font-size: var(--fsize);
    border-radius: var(--fsize);
    max-width: 45%;
    word-wrap: break-word;
    padding: calc(var(--fsize)*0.2) calc(var(--fsize)*0.5);
}

.send_message_outgoing>div {
    max-width: 45%;
    background-color: #34b8f1d0;
    color: white;
    font-size: var(--fsize);
    border-radius: var(--fsize);
    word-wrap: break-word;
    padding: calc(var(--fsize)*0.2) calc(var(--fsize)*0.5);
}


.chat_not_bar {
     margin-top:calc(var(--fsize)*0.1) ;
    height: calc(var(--fsize)*3);
    width: 99%;
    background-color: #25D366;
    display: flex;
    border-radius: calc(var(--fsize)*3);
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--fsize)*2);
}

.videocall {

    height: calc(var(--fsize)*2.6);
    width: calc(var(--fsize)*2.6);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db4d4d;
    border-radius: calc(var(--fsize)*2.6);
}

.call {
    display: flex;
    height: calc(var(--fsize)*3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--fsize)*2);

}

.videocall>svg {
    height: calc(var(--fsize)*1.5);
    width: calc(var(--fsize)*1.5);


    fill: black;



}

.audiocall {


    height: calc(var(--fsize)*2.6);
    width: calc(var(--fsize)*2.6);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(117, 178, 217);
    border-radius: calc(var(--fsize)*2.6);
    background-color: #db4d4d;
}

.audiocall>svg {
    height: calc(var(--fsize)*2.6);
    width: calc(var(--fsize)*2.6);

    height: calc(var(--fsize)*1.5);
    width: calc(var(--fsize)*1.5);
    fill: black;



}



.tpro {
    display: flex;
    height: calc(var(--fsize)*3);
    align-items: center;
    justify-content: center;
    gap: calc(var(--fsize)*1);

}


.tpro>span {

    font-size: calc(var(--fsize)*1);
    color: #ffffff;
    background-color: #000000;
    border-radius: calc(var(--fsize)*1);
    padding: calc(var(--fsize)*0.1) calc(var(--fsize)*1);
}


.tpro>img {
    height: calc(var(--fsize)*2.6);
    width: calc(var(--fsize)*2.6);
    border-radius: calc(var(--fsize)*2.6);
}

.mbsvg {
    width: 32vw;
    height: 32vw;
}

.msgspan {
    font-size: 30px;
    background-color: rgb(111, 52, 139);
    padding: 10px 20px;
    border-radius: 35px;

}


